.div1
{
    background-color: cadetblue;
    height: 650px;
    margin: 45px;
}

.div2
{
   height: 180px;
   text-align: center;
   padding-top: 30px;
   
}

.div3
{
    background-color:crimson;
    height: 400px;
    margin: 30px;
    display: flex;
    flex-wrap: row;
    text-align: justify;
    
}

.div4
{
    margin: 35px;
    margin-left: 50px;
    display: flex;
}

.div5
{
    margin-top: 25px;
    font-size:x-large;
    padding: 20px;
    width: 70%;
    height: 65%;
    text-align:right;
}

.div6
{
    height: 22%;
    
}

.inputs
{ 
    width: 65%;
    margin: 1px;
    font-size:x-large;

}

div6
{
    text-align: center;
}

.buttons
{
    
    width: 150px;
    font-size: large;
    margin: 20px;
}

.ind
{
    margin: 15px;
}

@media (max-width:1167px)
{
    .inputs
    { 
        width: 60%;
        margin: 1px;
        font-size:x-large;
    }
}


@media (max-width:1092px)
{
    .inputs
    { 
        width: 55%;
        margin: 1px;
        font-size:x-large;
    }
}


@media (max-width:1034px)
{
    .inputs
    { 
        width: 50%;
        margin: 1px;
        font-size:x-large;
    }
}



@media (max-width:988px)
{
    .inputs
    { 
        width: 45%;
        margin: 1px;
        font-size:x-large;
    }
}

