button{
    font-size: xx-large;
    background-color: darkturquoise;
    box-shadow: 2px 2px;
    color: darkgoldenrod;
    margin: 10px;
    margin-top: 25px;
}

#value{
    font-size: xx-large;
    height: 20px;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}