#parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: coral;
}
 #child{
    display: flex;
    flex-direction: column;
    background-color:chartreuse;
    padding: 20px;
    margin: 20px;
    font-size:x-small;
    text-align: center;
 }

 