#parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: coral;
}
 #child{
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    padding: 20px;
    margin: 20px;
 }

 #image{
    height: 200px;
    width: 300px;